<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O'zbekistonning bepul elonlar taxtasi - Tez Sot 🇺🇿</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="{% static 'img/tezsotlogo.png' %}" type="image/png">
    
</head>
<body>
    
    {% block content %}
    {% include 'nav.html' %}

    {% include 'index.html' %}
    {% include 'futter.html' %}
    {% endblock content %}

</body>
</html>